name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests
        run: mvn test
        env:
          BASE_URL: https://automationexercise.com
          API_BASE_URL: https://automationexercise.com
          HEADLESS: "true"

      - name: Upload allure-results (raw)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results

      - name: Install Allure CLI
        if: always()
        run: |
          curl -fsSL -o allure.tgz https://github.com/allure-framework/allure2/releases/download/2.27.0/allure-2.27.0.tgz
          tar -xzf allure.tgz
          echo "$PWD/allure-2.27.0/bin" >> $GITHUB_PATH

      - name: Generate Allure report (CLI)
        if: always()
        run: |
          allure generate target/allure-results -o target/allure-report --clean
          test -f target/allure-report/index.html || (echo "index.html MISSING" && exit 1)
          echo "index.html OK"

      - name: Upload surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports

      - name: Upload Allure report artifact (Pages)
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/allure-report

  deploy:
    if: github
