name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests
        run: mvn test
        env:
          BASE_URL: https://automationexercise.com
          API_BASE_URL: https://automationexercise.com
          HEADLESS: "true"

      - name: Generate Allure report
        if: always()
        run: mvn -q allure:report -Dallure.report.directory=target/allure-report

      - name: Upload surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports

      - name: Upload Allure report artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/allure-report

      - name: Debug Allure report folder
        if: always()
        run: |
          ls -la target/allure-report || true
          test -f target/allure-report/index.html && echo "index.html OK" || (echo "index.html MISSING" && exit 1)          

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
